@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calentest{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.test{
    width: auto;
    height: 1000px;
}