.navbar {
    position: fixed;
    height: 4.5rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    background-color: #202c38;
    align-items: center;
    justify-content: space-between;
    z-index: 3000;
}

.navsection {
    display: flex;
    gap: 1rem;
    background-color: inherit;
    align-items: center;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.content{
    margin-top: var(--navbar-height);
}